node_modules
.env
.env.local
.env.development
.env.production
.env.test

dist
build
.next
out
public/assets
public
node_modules
.env
dist
build
public/assets
TeachBot/public/assets
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store